[Unit]
Description=newrelic

After=docker.service
Requires=docker.service

[Service]
User=core
EnvironmentFile=/etc/environment
TimeoutStartSec=300
Restart=on-failure
RestartSec=5
StartLimitInterval=0

ExecStartPre=/usr/bin/sleep 10
ExecStartPre=-/bin/bash -c "docker pull hub.eventops.io/systems/newrelic:$COREOS_HOST_ENVIRONMENT"
ExecStartPre=-/bin/bash -c "docker kill newrelic"
ExecStartPre=-/bin/bash -c "docker rm newrelic"
ExecStart=/bin/bash -c "docker run --rm --privileged --name newrelic \
 -e CUSTOM_HOSTNAME=$COREOS_HOST_DC-$COREOS_HOST_REGION-$COREOS_HOST_APPLICATION-$COREOS_HOST_ENVIRONMENT-coreos-$(echo $HOSTNAME | cut -d'.' -f1) \
 -v /sys/fs/cgroup:/sys/fs/cgroup:ro \
 -v /var/run/docker.sock:/var/run/docker.sock hub.eventops.io/systems/newrelic:$COREOS_HOST_ENVIRONMENT"
ExecStop=-/bin/bash -c "docker stop newrelic"


[Install]
WantedBy=multi-user.target
